input[type=button]
{
    height:50px;
    width:350px;
    padding-left:20px;
    font-size:14pt;
}
input[type=text]
{
    width: 250px;
    height: 50px;
}
label
{
    font-size: 14pt;
    width: 250px;
}
hr
{
    width: 250px;
}